<template>
<!-- root div -->
  <div>
    <div id="page-title" class="padding-tb-30px gradient-white">
      <div class="container text-left">
        <ol class="breadcrumb opacity-5">
          <li><a href="#">Home</a></li>
          <li class="active">Foods</li>
        </ol>
        <h1 class="font-weight-300">Foods</h1>
      </div>
    </div>
    <div class="container">
      <div class="margin-bottom-60px">
        <div class="listing-search box-shadow">
          <form class="row no-gutters" @submit.prevent="searchRecipe()">
            <div class="col-md-8">
              <div class="keywords">
                <input v-model="searchKey" class="listing-form first" type="text" placeholder="Keywords..." value="">
              </div>
								<p class="help is-danger" v-if="!$v.searchKey.required && $v.searchKey.$dirty">This field is required</p>

            </div>
            <!-- <div class="col-md-4">
              <div class="categories dropdown">
                <a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item text-up-small" type="button">Fish</button>
                  <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                  <button class="dropdown-item text-up-small" type="button">Salads</button>
                  <button class="dropdown-item text-up-small" type="button">Asian</button>
                  <button class="dropdown-item text-up-small" type="button">Fish</button>
                  <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                  <button class="dropdown-item text-up-small" type="button">Salads</button>
                  <button class="dropdown-item text-up-small" type="button">Asian</button>
                </div>
              </div>
            </div> -->
            <div class="col-md-4">
             <button :disabled="!$v.searchKey.required && $v.searchKey.$dirty" style="border: none" type="submit" class="listing-bottom background-second-color box-shadow" href="#">Search Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
		<section>
			<div class="container margin-bottom-100px"  v-if="isShow">

				<div class="row">
					<template v-for="(item, index) in foodItem">
						<div class="col-lg-6 margin-bottom-30px">
							<item :info=item></item>
						</div>
					</template>
				</div>
			</div>
			<div class="container margin-bottom-100px" v-if="isError">
				<h1>We did not find any Foods.</h1>
			</div>

			<!-- // container -->
		</section>
  </div>	
  <!-- root div end -->
</template>

<script>
import item from '../item/fooditem'
import { required } from 'vuelidate/lib/validators'
export default {
 data () {
    return {
		searchKey: '',
		 foodItem: '',
		 isShow: false,
		 isError: false,
		 searchWord: '',
		 count: '',
		 to: 10,
		 from: 0,
    }
	},
	validations: {
		searchKey: {
				required
		}
	},
	 components: {
    item
	},
	methods: {
	async	getFood (value) {
			this.searchKey = encodeURIComponent(value);
			const foodItem = await this.$store.dispatch('getFoods', value)
			if(foodItem) {
          const foodItem = this.$store.getters.getFoods;
					if(foodItem.data.hints.length > 0) {
						this.foodItem = this.$store.state.foodsStore.foods.data.hints
						this.isShow = true;
						this.isError = false;
					} else {
						this.isShow = false;
						this.isError = true;
					}
			} else {

			}
		},
		searchRecipe () {
			this.$v.$touch()
			if (!this.$v.$invalid) {
				this.getFood(this.searchKey)
			}
		}
	},
	mounted() {
		const searchKey = this.$route.query.searchKey
		if(searchKey != null && searchKey.length > 0) {
			this.searchKey =  searchKey
			this.getFood(searchKey)
		} else {
			this.$router.push('/foods')
			this.isShow = false;
			this.isError = true;
		}
	},	
}
</script>

<style>

</style>
