<template>
  <div>
    <div id="page-title" class="padding-tb-30px gradient-white">
      <div class="container text-left">
        <h1 class="font-weight-300">{{recipesDetails.label}}</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="margin-bottom-40px card border-0 box-shadow">
            <div class="card-img-top"><a :href=recipesDetails.url target="_blank"><img :src=recipesDetails.image alt="" style="width: 100%"></a></div>
            <div class="padding-lr-30px padding-tb-20px">
              <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" :href=recipesDetails.url target="_blank">{{recipesDetails.label}}</a></h5>
              <div class="rating">
                <ul>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                </ul>
              </div>
              <hr>
              <h3>Diet Labels</h3>
              <ul>
                <li v-for="info in recipesDetails.dietLabels">{{info}}</li>
              </ul>
              <hr>
              <h3>Calories</h3>
              <ul>
                <li>{{ recipesDetails.calories | decimalTwo}} kcal</li>
              </ul>
              <hr>
              <h3>Cautions</h3>
              <ul>
                <li v-for="info in recipesDetails.cautions">
                    {{info}}
                </li>
              </ul>
              <hr>
              <h3>Ingredients</h3>
              <ul>
                <li v-for="info in recipesDetails.ingredientLines">
                  {{info}}
                </li>
              </ul>
              <hr>

              <h3>Total Weight</h3>
              <ul>
                <li>{{recipesDetails.totalWeight | decimalTwo}} Grams</li>
              </ul>
              
              <hr>
              <h3>Total Nutrients</h3>
              <ol>
                  <template v-for="info in recipesDetails.totalNutrients">
                        <li>  <strong>{{info.label}}:</strong> {{info.quantity | decimalTwo}} {{info.unit}}  </li>
                  </template>
                </ol>
              <hr>
              <div class="row no-gutters">
                <div class="col-8 text-left"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> {{recipesDetails.yield}} servings</a></div>
              </div>
            </div>
          </div>


        
        </div>
        <div class="col-lg-4">
          <div class="listing-search box-shadow background-main-color padding-30px margin-bottom-30px">
            <form class="row no-gutters">
              <div class="col-md-12">
                <div class="keywords">
                  <input class="listing-form first border-radius-10 margin-bottom-10px" type="text" placeholder="Keywords..." value="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="categories dropdown">
                  <a class="listing-form d-block text-nowrap border-radius-10 margin-bottom-10px" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -260px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <button class="dropdown-item text-up-small" type="button">Fish</button>
                    <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                    <button class="dropdown-item text-up-small" type="button">Salads</button>
                    <button class="dropdown-item text-up-small" type="button">Asian</button>
                    <button class="dropdown-item text-up-small" type="button">Fish</button>
                    <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                    <button class="dropdown-item text-up-small" type="button">Salads</button>
                    <button class="dropdown-item text-up-small" type="button">Asian</button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <a class="listing-bottom border-radius-10 background-second-color box-shadow" href="#">Search Now</a>
              </div>
            </form>
          </div>

          <div class="row margin-tb-45px">
            <div class="col-6 margin-bottom-25px">
              <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                <div class="thum"><img src="../../../static/assets/img/cat-1.jpg" alt=""></div>
                <h4 class="text-center padding-15px">Fish</h4>
              </a>
            </div>
            <div class="col-6 margin-bottom-25px">
              <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                <div class="thum"><img src="../../../static/assets/img/cat-2.jpg" alt=""></div>
                <h4 class="text-center padding-15px">Cocktails</h4>
              </a>
            </div>
            <div class="col-6 margin-bottom-25px">
              <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                <div class="thum"><img src="../../../static/assets/img/cat-3.jpg" alt=""></div>
                <h4 class="text-center padding-15px">Eggs</h4>
              </a>
            </div>
            <div class="col-6 margin-bottom-25px">
              <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                <div class="thum"><img src="../../../static/assets/img/cat-4.jpg" alt=""></div>
                <h4 class="text-center padding-15px">Salads</h4>
              </a>
            </div>
          </div>

     

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      recipeUri : '',
      recipesDetails : ''
    }
  },
  created () {
    const recipeId = this.$route.query.id;
    if(recipeId == null || recipeId.length <= 0) {
      this.$router.push('/')
    } else {
      this.recipeUri = recipeId
    }
  },
  async mounted () {
    const recipesInfo = await this.$store.dispatch('getRecipesInfo', encodeURIComponent(this.recipeUri));
    this.recipesDetails = recipesInfo;
  },
  filters: {
    decimalTwo (value) {
      if (!value) {
        return ''
      } else {
        return value.toFixed(2)
      }
    }
  }
}
</script>

<style>

</style>
