<template>
  <div class="spinner-wrapper">
     <div class="spinner">
       <div class="double-bounce1"></div>
       <div class="double-bounce2"></div>
      </div>
    </div>
</template>

<script>
export default { 
   
}
</script>

<style>
.spinner-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: hsla(0,0%,91.4%,.5);
    height: 100%;
    z-index: 999;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 45vh auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2e2e2e;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s ease-in-out infinite;
    animation: sk-bounce 2s ease-in-out infinite;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
  }
  50% {
      transform: scale(1);
      -webkit-transform: scale(1);
  }
}
</style>
