<template>
  <form class="row no-gutters" @submit.prevent="searchRecipe()">
    <div class="col-md-8">
      <div class="keywords">
        <input v-model="searchKey" class="listing-form first" type="text" placeholder="Serach recipes keywords..." >
      </div>
      <p class="help is-danger" v-if="!$v.searchKey.required && $v.searchKey.$dirty">This field is required</p>
    </div>
    <div class="col-md-4">
      <button :disabled="!$v.searchKey.required && $v.searchKey.$dirty" style="border: none" type="submit" class="listing-bottom background-second-color box-shadow" href="#">Search Now</button>
    </div>
  </form>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  props: {
    food: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
       searchKey: '',
    }
  },
  validations: {
		searchKey: {
				required
		}
	},
  methods: {
    searchRecipe () {
      // this.getRecipes(this.searchKey)
      this.$v.$touch()
      if (!this.$v.$invalid) {
        if(this.food) {
          this.$router.push({ path: '/foodsResult', query: { searchKey: this.searchKey } })
        } else {
          this.$router.push({ path: '/recipes', query: { searchKey: this.searchKey } })
        }
      } else {
        //  alert('Please check enter data')
      }
    
    }
  }
}
</script>

<style>

</style>
