<template>
<div>
  <!-- root div start -->
  <div class="banner padding-tb-20px background-overlay" style="background-image: url('../../static/assets/img/banner_1.jpg');">&gt;
		<div class="container">

			<div class="padding-tb-120px z-index-2 position-relative">
				<div class="text-center">
					<h1 class="text-white pull-l icon-large font-weight-500 margin-bottom-40px">+20,000</h1>
					<h3 class="text-white icon-large font-weight-100">Cooking Recipes</h3>
				</div>
				<div class="margin-top-45px">
					<div class="row justify-content-center margin-tb-60px">
						<div class="col-lg-8">
							<div class="listing-search">
								<search-box></search-box>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //container  -->
	</div>
  <div class="pull-top-85px">
		<div class="container">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a style="cursor: pointer; position: relative; z-index: 9" @click="getRecipes('fish')" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-1.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Fish</h4>
					</a>
				</div>
				<div  class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a  style="cursor: pointer; position: relative; z-index: 9" @click="getRecipes('Cocktail')" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-2.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Cocktails</h4>
					</a>
				</div>
				<div   class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a style="cursor: pointer; position: relative; z-index: 9" @click="getRecipes('Egg')" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-3.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Eggs</h4>
					</a>
				</div>
				<div  class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a style="cursor: pointer; position: relative; z-index: 9"  @click="getRecipes('Salad')" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-4.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Salads</h4>
					</a>
				</div>
				<div   class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a style="cursor: pointer; position: relative; z-index: 9" @click="getRecipes('Asian')"  class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-5.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Asian</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a style="cursor: pointer" @click="getRecipes('pizza')" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="../../static/assets/img/cat-6.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Pizza</h4>
					</a>
				</div>
			</div>
		</div>
	</div>

  <section class="padding-tb-100px">
    <div class="container margin-bottom-100px"  v-if="isShow">

      <div class="row">
        <template v-for="(item, index) in recipesItem">
          <div class="col-lg-6 margin-bottom-30px">
            <item :info=item></item>
          </div>
        </template>
      </div>
    </div>
	<div class="container margin-bottom-100px" v-if="isError">
		<h1>We did not find any recipes.</h1>
	</div>

		<!-- // container -->
	</section>
  <!-- root div end -->
</div>
</template>

<script>
import item from './item/item'
import searchBox from './controls/searchBox'

export default {
  name: 'HelloWorld',
  data () {
    return {
		 searchKey: '',
		 recipesItem: '',
		 isShow: false,
		 isError: false,
		 searchWord: '',
		 count: '',
		 to: 50,
		 from: 0,
    }
	},
  components: {
		item,
		'search-box': searchBox
	},
	methods: {
	async getRecipes (value) {
		this.searchKey = value;
		const recipesItem = await this.$store.dispatch('getRecipes', value)
		if(recipesItem) {
			const recipesItem = this.$store.getters.getRecipes;
			if(recipesItem.data.hits.length > 0) {
				this.recipesItem = this.$store.state.recipesStore.recipes.data.hits
				this.isShow = true;
				this.isError = false;
			} else {
				this.isShow = false;
				this.isError = true;
			}
		} else {
			
		}
		},
	async showMore () {
		this.to = this.to + 50;
		this.from = this.from + 50	
		const data = {
			q: 	this.searchKey,
			to: this.to,
			from: this.from
		}
		const showMore = await this.$store.dispatch('showMore', data)
	},

	}
}
</script>
