<template>
  <div id="app">
    <main-header></main-header>
     <transition name="router-anim" appear>
      <router-view/>
     </transition>
    <main-footer></main-footer>
  </div>
</template>

<script>
import mainHeader from './components/header/MainMenu'
import mainFooter from './components/footer/footer'
export default {
  name: 'App',
  components: {
    mainHeader,
    mainFooter
  }
}
</script>
<style scoped>
.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: 0s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0s;
}

@keyframes going {
  from {
   opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

